Package: buttonos-splash
Version: 0.5
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: plymouth
Description: The background for the progress bar. Also the background for the X server
