Package: commonde-splash
Version: 0.4
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: 
Description: The background for the progress bar. Also the background for the X server
