Package: buttonos-release
Version: 0.5
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: plymouth
Description: Add the release file to the current CD.
