Package: buttonos-pam-u
Version: 0.6
Section: pam
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: libpam-runtime, buttonos-base
Description: pam manipulations
