Package: cde-lxconfig
Version: 0.3
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Replaces: openbox, lxmenu-data, lxde-common
Depends: lxpanel, openbox, lxsession, lxde-common
Description: configuration files for lxde
