Package: commonde-pb
Version: 0.4
Section: web
Priority: Optional
Architecture: all
Maintainer: armadefuego@gmail.com
Essential: no
Depends: webconverger-base
Description: Set up the webc user on login
