Package: commonde-pb
Version: 0.5
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: webconverger-base
Description: Set up the webc user on login
