Package: commonde-sconsole
Version: 0.4
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: 
Description: The splash on the console. Its the image you see when the machine first boots.
