Package: buttonos-xbackground
Version: 0.5
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: buttonos-splash
Description: Setup to allow the X background to be set from the buttonos-splash
