Package: commonde-xbackground
Version: 0.4
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: commonde-splash
Description: Setup to allow the X background to be set from the commonde-splash
