Package: buttonos-cookie
Version: 0.5
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: sqlite3,uuid,iceweasel
Description: A package to add the creation of buttonos cookies to the startup scripts
