Package: commonde-shell
Version: 0.5
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: iceweasel
Description: An application to allow signed scripts to be run from the web.
