Package: deflxcfg
Version: 0.15
Section: web
Priority: Optional
Architecture: all
Maintainer: gunnjo@curlycloud.com
Essential: no
Depends: lxsession, lxpanel, openbox
Description: Default configuration, and downloader for ButtonOS lxde configuration
